@import "tailwindcss";
@import "tw-animate-css";

:root {
  --color-background: #0f172a;
  --color-surface: #1e293b;
  --color-surface-bright: #334155;
  --color-border: #334155;
  --color-text-muted: #94a3b8;
  --color-primary: #3b82f6;
  --color-primary-hover: #2563eb;
  --color-warning: #f59e0b;
}

body {
  background-color: var(--color-background);
  color: #fff;
  overflow: hidden;
}

.scrollbar-none::-webkit-scrollbar {
  display: none;
}
.scrollbar-none {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
